.galleryWrapper {
  padding: 2rem 2rem 6rem 2rem;
  background: linear-gradient(180deg, rgba(220,239,245,1) 0%, rgba(184,236,255,1) 24%, rgba(255,255,255,1) 100%);
  color: white;
  overflow: hidden;
}

.heading {
  font-size: 3rem;
  text-align: center;
  font-family: 'Merienda', cursive;
  margin-bottom: 4rem;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;
}
.rowWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  will-change: transform;
}

.row {
  display: flex;
  gap: 2rem;
  will-change: transform;
}

.image {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.08) rotate(1deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .image {
    width: 200px;
    height: 130px;
  }

  .heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .image {
    width: 200px;
    height: 150px;
  }

  .rowWrapper {
    gap:1rem;
  }

  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .image {
    width: 180px;
    height: 130px;
  }

  .heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}