@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800..900&family=Fredericka+the+Great&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  scroll-behavior: smooth;
}


.font-merienda {
  font-family: 'Merienda', cursive;
}

.font-cinzel {
    font-family: 'Cinzel' , serif;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.font-fred {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  /* font-style: normal; */
}

  .font-playfair {
    font-family: "Playfair Display", 'serif';
  }


.h1{
  color: #ffffffb2;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}


/* Hide default Swiper pagination */
.swiper-pagination-bullet {
  @apply w-3 h-3 rounded-full bg-white border-2 border-black/40 opacity-70 transition-all duration-300;
}

.swiper-pagination-bullet-active {
  @apply scale-125 bg-white shadow-inner shadow-black;
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spinSlow 8s linear infinite;
}