@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fredericka+the+Great&display=swap');

html {
  scroll-behavior: smooth;
}

.font-merienda {
  font-family: 'Merienda', cursive;
}

.font-cinzel {
    font-family: 'Cinzel' , serif;
}

.font-fred {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  /* font-style: normal; */
}

.h1{
  color: #ffffffb2;
}